<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>Geojit</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/GeojitIcon.ico"
    />
  </head>
  <body>
    <header class="header-container">
      <div class="container">
        <div class="header-flex">
          <img src="../assets/images/logo.png" alt="logo" />
          <div class="right-content">
            <img
              src="../assets/images/header-img.png"
              class="sip-img"
              alt="sip-club"
            />
          </div>
        </div>
      </div>
    </header>
    <div class="banner-content">
      <div class="banner-flex">
        <div class="banner1" style="--delay: 1">
          <img src="../assets/images/banner/banner1.png" alt="banner1" />
        </div>
        <div class="banner2" style="--delay: 2">
          <img src="../assets/images/banner/banner2.png" alt="banner2" />
        </div>
        <div class="banner3" style="--delay: 3">
          <img src="../assets/images/banner/banner3.png" alt="banner3" />
        </div>
        <div class="banner4" style="--delay: 4">
          <img src="../assets/images/banner/banner4.png" alt="banner4" />
        </div>
        <div class="banner5" style="--delay: 5">
          <img src="../assets/images/banner/banner5.png" alt="banner5" />
        </div>
        <div class="banner6" style="--delay: 6">
          <img src="../assets/images/banner/banner6.png" alt="banner6" />
        </div>
      </div>
      <div class="banner-form">
        <h1 class="bf-title">
          Welcome to Geojit SIP Club, <span>Mathew Thomas</span>
        </h1>
        <p class="bf-sub-text">
          Congratulations on taking the first step towards financial success
          with Geojit SIP Club!
        </p>
        <div class="bf-form-block">
          <div class="form-control">
            <label for="" class="form-label">Enter email id *</label>
            <input
              type="text"
              class="custom-input"
              placeholder="matthew.t@gmail.com"
            />
          </div>
          <div class="form-control">
            <label for="" class="form-label">Enter phone number *</label>
            <input
              type="text"
              class="custom-input"
              placeholder="+91 00000 00000"
            />
          </div>
        </div>
        <div class="confirmation-slider">
          <div id="status">
            <input id="confirm" type="range" value="0" min="0" max="100" />
            <span class="slider-label" id=" slider-label"
              >Slide to Confirm Membership</span
            >
            <span class="confirm-notice"
              >Congratulations! You've joined the Geojit SIP Club!</span
            >
            <div class="value" style="display: none">0</div>
          </div>
        </div>
      </div>
    </div>

    <!-- generate-plan  -->
    <section class="generate-plan">
      <div class="container">
        <h5 class="section-label-title">Geojit SIP Club</h5>
        <h2 class="section-main-title">Choose a Dream You Want to Achieve</h2>
        <div>
          <div class="dreams-block">
            <label class="icon">
              <input
                type="radio"
                name="icon-input"
                value="entrepreneurial-success"
              />
              <img
                src="../assets/images/dream/d1.png"
                alt="Entrepreneurial Success"
              />
              <p class="dream-label">Entrepreneurial Success</p>
            </label>

            <label class="icon">
              <input
                type="radio"
                name="icon-input"
                value="retirement-bliss
              "
              />
              <img
                src="../assets/images/dream/d2.png"
                alt="Retirement Bliss
              "
              />
              <p class="dream-label">Retirement Bliss</p>
            </label>
            <label class="icon">
              <input type="radio" name="icon-input" value="world-travel" />
              <img src="../assets/images/dream/d3.png" alt="world-travel" />
              <p class="dream-label">World Travel</p>
            </label>
            <label class="icon">
              <input
                type="radio"
                name="icon-input"
                value="education-excellence"
              />
              <img
                src="../assets/images/dream/d4.png"
                alt="Education Excellence"
              />
              <p class="dream-label">Education Excellence</p>
            </label>
            <label class="icon">
              <input type="radio" name="icon-input" value="dream-home" />
              <img src="../assets/images/dream/d5.png" alt="Dream Home" />
              <p class="dream-label">Dream Home</p>
            </label>
          </div>
        </div>
        <div class="action-btn">
          <button class="custom-btn" id="generate-plan">Generate Plan</button>
        </div>
      </div>
    </section>

    <!-- whats in for you  -->
    <section class="in-for-you">
      <div class="container">
        <h2 class="section-title">What's in it for You?</h2>
        <div class="ify-block">
          <p class="ify-text">
            <span>Dedicated Support :</span> Consider us your financial
            sidekick. Our dedicated support team is ready to ride shotgun on
            your financial journey.
          </p>
          <p class="ify-text">
            <span>Expert SIP Picks :</span> Tired of the guesswork? Let our
            experts handpick the best Mutual Fund SIPs tailored to YOUR goals.
          </p>
          <p class="ify-text">
            <span>Personalized Assistance :</span> It's not just about
            investing; it's about reaching YOUR milestones. Get personal
            assistance until you check off every goal on your list.
          </p>
          <p class="ify-text">
            <span>Quarterly Money Talks :</span> Every three months, let's have
            a money date! Our feedback calls ensure your investments are doing
            the cha-cha towards your dreams.
          </p>
          <p class="ify-text mb-0">
            <span>VIP Access :</span> Join the club, get the VIP pass! Exclusive
            communications and webinars with financial rockstars – because you
            deserve the financial front-row seat.
          </p>
        </div>
      </div>
    </section>
    <!-- sip benefits  -->
    <section class="sip-benefits">
      <div class="container">
        <h2 class="section-title">How does an SIP benefit you?</h2>
        <div class="benefit-block">
          <div class="row">
            <div class="col-md-4">
              <div class="bb-card">
                <img src="../assets/images/sipBenefits/sb1.svg" alt="sb1" />
                <p class="bb-text">
                  Reduces the risk associated with market timing
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bb-card">
                <img src="../assets/images/sipBenefits/sb2.svg" alt="sb2" />
                <p class="bb-text">
                  Inculcates a feeling of discipline to save and invest
                  regularly
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bb-card">
                <img src="../assets/images/sipBenefits/sb3.svg" alt="sb3" />
                <p class="bb-text">Gives better returns in the longer run</p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-4">
              <div class="bb-card">
                <img src="../assets/images/sipBenefits/sb4.svg" alt="sb4" />
                <p class="bb-text">Reduces your average cost of purchasing</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bb-card">
                <img src="../assets/images/sipBenefits/sb5.svg" alt="sb5" />
                <p class="bb-text">
                  Helps with long-term approach of investment
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bb-card">
                <img src="../assets/images/sipBenefits/sb6.svg" alt="sb6" />
                <p class="bb-text">
                  Makes your money grow with the power of compounding
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer wow fadeIn">
      <div class="container">
        <img src="../assets/images/footer-logo.png" alt="footer-logo" />
        <div class="footer-info-block">
          <div class="row">
            <div class="col-md-3">
              <h2 class="footer-title">Registered Office</h2>
              <p class="footer-body-text mb-0">
                34/659, Civil Line Road, Padivattom, Kochi-682024, Kerala, India
              </p>
            </div>
            <div class="col-md-3">
              <h2 class="footer-title">Contact</h2>
              <p class="footer-body-text">Phone: +91 484-2901000</p>
              <p class="footer-body-text mb-0">www.geojit.com</p>
            </div>
            <div class="col-md-3">
              <h2 class="footer-title">For investor queries</h2>
              <p class="footer-body-text mb-0">customercare@geojit.com</p>
            </div>
          </div>
        </div>
        <div>
          <p class="footer-body-text fw-500 nt-40">Disclaimer</p>
          <p class="footer-body-text">
            Investment in securities market are subject to market risks, read
            all the related documents carefully before investing. Geojit
            Financial Services Limited does not make any representations or
            warranties about the insurance products, servicing of policy and
            adjudication of claims and cannot be held liable for the same. This
            mail contains only an indication of the insurance product. For more
            details on risk factors, terms, conditions and exclusions, please
            read the respective policy documents.
          </p>
          <p class="footer-body-text">
            GFSL is a licensed corporate agent with License No. CA0226 issued by
            IRDAI.
          </p>
        </div>
        <div>
          <p class="footer-body-text fw-500 nt-40">Disclosure</p>
          <p class="footer-body-text">
            These are not Exchange traded products and the Member is just acting
            as distributor. All disputes with respect to the distribution
            activity would not have access to Exchange investor redressal or
            Arbitration mechanism.
          </p>
        </div>
        <div class="footer-copright">
          <p class="copright-text">
            Geojit Financial Services Ltd, AMFI-registered Mutual Fund
            Distributor, ARN : 0098
          </p>
        </div>
        <p class="design-partner-text">Design by Neointeraction Design</p>
      </div>
    </footer>
    <!-- scripts -->
    <script
      type="text/javascript"
      src="../assets/js/vendor/jquery-1.12.4.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/vendor/wow.min.js"
    ></script>

    <script>
      var wow = new WOW({
        boxClass: "wow", // animated element css class (default is wow)
        animateClass: "animated", // animation css class (default is animated)
        offset: 0, // distance to the element when triggering the animation (default is 0)
        mobile: true, // trigger animations on mobile devices (default is true)
        live: true, // act on asynchronously loaded content (default is true)
        callback: function (box) {
          // Add a class called "animation-complete" when animation is complete
          box.classList.add("animation-complete");
        },
        scrollContainer: null, // optional scroll container selector, otherwise use window
      });
      wow.init();
    </script>
    <script>
      $("input").on("change", function () {
        // Get the value of the checked radio button
        var value = $('input[name="icon-input"]:checked').val();

        // Remove the 'active' class from all labels with class 'icon'
        $(".icon").removeClass("active");

        // Add the 'active' class to the parent label of the checked radio button
        $('input[name="icon-input"]:checked')
          .closest(".icon")
          .addClass("active");

        console.log(value);
      });
    </script>

    <script>
      $("#confirm").on("change", function () {
        var slidepos = $(this).val();
        if (slidepos > 99) {
          // User slided the slider
          $("#confirm").addClass("done");
          $(".confirm-notice").fadeIn();
        }
      });

      const sliderEl = document.querySelector("#confirm");
      const sliderValue = document.querySelector(".value");

      sliderEl.addEventListener("input", (event) => {
        const tempSliderValue = event.target.value;

        sliderValue.textContent = tempSliderValue;

        const progress = (tempSliderValue / sliderEl.max) * 100;

        sliderEl.style.background = `linear-gradient(to right, #017670 ${progress}%, #fff ${progress}%)`;
        sliderEl.style.borderRadius = "30px";
      });
    </script>
  </body>
</html>
